<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro de Comandos</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://unpkg.com/htmx.org" crossorigin="anonymous"></script>
    <script src="../static/index.js"></script>
</head>

<body>
    <div class="main">
        <div class="navbar">
            <div class="navbar-inner">
                <div>
                    <img src="../static/capa.avif" alt="robot" class="robot">
                </div>
                <div class="labels">
                    <a href="/" class="brand">Centro de Comandos</a>
                    <a href="#" class="brand" hx-get="/logs" hx-target=".logs">Logs</a>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="command-center">
                <h1>O que quer fazer?</h1>
                <div class="buttons">
                    <button class="btn" onclick="movimentar()">Movimentar</button>
                    <button class="btn" onclick="ligarAtuador()">Acionar a ventosa</button>
                    <button class="btn" onclick="desligarAtuador()">Desativar a ventosa</button>
                    <button class="btn" onclick="home()">Home</button>
                </div>
            </div>
            <div class="logs">
                {% for log in logs %}
                    <div class="log-entry">
                        <p class="command">{{ log.comando }}</p>
                        <p class="timestamp">{{ log.data_hora }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
